/* Separadores para inputs */
.form-control {
    margin-bottom: 0.5em;
}

/* Separadores para las tarjetas, margen inferior */
.card-body {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Estilo del boton submit */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    margin-top: 0px;
}

.footer{
    position: absolute;
    bottom: 0;
}

/* Margen para el boton */
.mb-3 {
    margin-bottom: 0rem!important;
}

.table {
    --bs-table-accent-bg: transparent;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2em;
    padding-right: 2em;
}

.form-control {
    margin-top: 2em;
}

.alert {
    color: #fff;
    border: none;
    margin-top: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}